URI#join and normalization issues

URI joining and normalization is not well documented, but can be inferred from various W3C tests. Best described in RFC3986 section 5.2 [1]. Much of this is handled by Addressable::URI#join

The following specs were created when developing RdfContext to ensure proper normalization of joined URIs:

```
describe "normalization" do
  {
    %w(http://foo ) =>  "http://foo/",
    %w(http://foo a) => "http://foo/a",
    %w(http://foo /a) => "http://foo/a",
    %w(http://foo #a) => "http://foo/#a",

    %w(http://foo/ ) =>  "http://foo/",
    %w(http://foo/ a) => "http://foo/a",
    %w(http://foo/ /a) => "http://foo/a",
    %w(http://foo/ #a) => "http://foo/#a",

    %w(http://foo# ) =>  "http://foo/", # Special case for Addressable
    %w(http://foo# a) => "http://foo/a",
    %w(http://foo# /a) => "http://foo/a",
    %w(http://foo# #a) => "http://foo/#a",

    %w(http://foo/bar ) =>  "http://foo/bar",
    %w(http://foo/bar a) => "http://foo/a",
    %w(http://foo/bar /a) => "http://foo/a",
    %w(http://foo/bar #a) => "http://foo/bar#a",

    %w(http://foo/bar/ ) =>  "http://foo/bar/",
    %w(http://foo/bar/ a) => "http://foo/bar/a",
    %w(http://foo/bar/ /a) => "http://foo/a",
    %w(http://foo/bar/ #a) => "http://foo/bar/#a",

    %w(http://foo/bar# ) =>  "http://foo/bar",
    %w(http://foo/bar# a) => "http://foo/a",
    %w(http://foo/bar# /a) => "http://foo/a",
    %w(http://foo/bar# #a) => "http://foo/bar#a",

    %w(http://foo/bar# #D%C3%BCrst) => "http://foo/bar#D%C3%BCrst",
    %w(http://foo/bar# #Dürst) => "http://foo/bar#D%C3%BCrst",
  }.each_pair do |input, result|
    it "should create <#{result}> from <#{input[0]}> and '#{input[1]}'" do
      RDF::URI.new(input[0]).join(input[1].to_s).normalize.to_s.should == result
    end
  end
```

Note that rules for URIs are different than rules for namespace declarations. A URI can/should be canonicalized (e.g. http://foo.com => http://foo.com/) but a namespace should not (e.g., @prefix foo: http://foo.com#. foo:a foo:b foo:c. => http://foo.com#a http://foo.com#b http://foo.com#c).

[1] http://tools.ietf.org/html/rfc3986#page-30
W3C rdfcore xmlbase tests: http://www.w3.org/2000/10/rdf-tests/rdfcore/xmlbase/
